body {
    margin: 0px;
}

.container {
    background-color: rgb(122, 135, 170);
    width: 100%;
    min-height: 300px;
}

nav.navbar {
    background-color: rgb(122, 219, 219);
    width: 100%;
    padding: 10px 0px;

}

nav.navbar a {
    font-size: 22px;
    text-decoration: none;
    color: rgb(2, 6, 12);
    line-height: 36px;
}

nav.navbar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

nav.navbar li {
    border-bottom: 2px solid salmon;
}

nav.navbar li:last-child {
    border-bottom: none;
}

@media(min-width: 768px){
    .container {
        background-color: rgb(209, 172, 127);
        width: 750px;
        margin: 0px auto;
    }

    nav.navbar li {
        display: inline-block;
    }
}

@media(min-width: 992px){
    .container {
        background-color: rgb(221, 153, 146);
        width: 960px;
    }
}

