@import url(https://fonts.googleapis.com/css?family=Caveat+Brush|Amatic+SC|Anton|Fjalla+One|Economica);

body {
    margin: 0;
    padding: 0;
}


.container {
    text-align: center;
    width: 100%;
    min-height: 300px;
    background-color: #ffa49f;
}

.container2 {
    text-align: center;
    width: 100%;
    min-height: 300px;
    background-color: #c4e0eb;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}




.menuIcon {
  background: #27bdb8;
  display: block;
  font-family: "Economica";
  color: #fff;
  text-decoration: none;
  padding: .75em;
  font-size: 1.5em;
  text-align: right;
}

.nav {
  background: #27bdb8;
  margin: 0;
  padding: 0;
  text-align: center;
  display: none;
}

.nav li {
  font-family: "Fjalla+One";
  font-weight: 700;
  list-style: none;
  color: white;
  letter-spacing: .1em;
  padding: 1em;
}

.nav a {
  text-decoration: none;
}

.selected {
  background: #06919a;
}

.list {
  display: block;
}

@media screen and (min-width: 340px) {
    .nav li {
        font-family: "Economica";
        font-weight: 700;
        color: #fff;
        list-style: none;
        display: inline-block;
        font-size: 18px;
        letter-spacing: .1em;
        padding: 1em;
      }
    img {
        width: 60%;
        height: 60%;
    }


    }
  

@media screen and (min-width: 992px) {
    .nav {
        font-size: 0;
        background: #27bdb8;
        padding: 0;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        display: block;
      }
    
      .nav li {
        font-family: "Economica";
        font-weight: 700;
        color: #fff;
        list-style: none;
        display: inline-block;
        font-size: 23px;
        letter-spacing: .1em;
        padding: 1em;
      }
    
      .selected {
        background: #06919a;
      }
      
      .menuIcon {
        display: none;
      }
    
    }

    .grid {
      background:silver;
      -webkit-column-count:1;
      -webkit-column-gap:10px;
      -webkit-column-fill:auto;
      -moz-column-count:1;
      -moz-column-gap:10px;
      -moz-column-fill:auto;
      column-count:1;
      column-gap:15px;
      column-fill:auto;
    }
    
    .grid-item {
      display:inline-block;
      background:#F8F8F8;
      margin:0 0 10px;
      padding:15px;
      padding-bottom:5px;
      -webkit-column-break-inside:avoid;
      -moz-column-break-inside:avoid;
     
    }
    
    hr {
      display:block;
      height:1px;
      border:0;
      border-top:1px solid #ccc;
      margin:.5em 10px;
      padding:0;
    }
    
    img {
      width:100%
    }
    
    p {
      margin:10px;
      font-size:.8em;
      font-family:arial;
      line-height:1.5em;
    }
    
    @media (min-width: 450px) {
      .grid {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2; 
      }
    }
    
    @media (min-width: 650px) {
      .grid {
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3; 
      }
    }
    
    @media (min-width: 960px) {
      .grid {
        -webkit-column-count:4;
        -moz-column-count:4;
        column-count:4; 
      }
    }
       